/* Development Toolbar */

.dev_toolbar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: chartreuse;
  z-index: 100;

  .buttons {
    .hide_tb{
    }
  }
  .content {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}